
.Figma{
    height: 100;
    width: 100%;
    border: 1px solid rgb(39, 39, 39);
    position: relative;
}

#text1{
    position: absolute;
    width: 209px;
    height: 36px;
    left: 175px;
    top: 86px;

    font-family: Magneto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: black;
}

.Figma>#Block1{
    position: absolute;
    height: 333px;
    width: 396px;
    left: 179px;
    top: 120px;
    border-top: 4px solid #8DE97E;
    border-right: 12px solid rgba(221, 133, 0, 0.19);
    border-bottom: 30px solid #000000;
    border-left: 8px solid #DD0000;
    background: rgba(255, 107, 0, 0.13);
}

.Figma>#Block2{
    position: absolute;
    height: 322px;
    width: 375px;
    left: 634px;
    top: 131px;
    border: 1px solid #000;
    border-top: 4px solid #46BCFF;
    border-bottom: 10px solid #FD3030;
    border-right: 12px solid rgba(82, 89, 84, 0.19);;
    border-left: 12px solid #C71D83;


}

#text2{
    position: absolute;
    width: 115px;
    height: 21px;
    left: 654px;
    top: 177px;
    font-family: Peralta;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: black;
}

.Figma>#Block2>#img2{
    position: absolute;
    width: 375px;
    height: 34px;
    background:url(image2.png);

}


.Figma>#Block2>#img1{
    position: absolute;
    width: 293px;
    height: 183px;
    left: 47px;
    bottom: -23px;
    background:url(image1.png);
}
